<div class='container'>
    <h1>Mini Market</h1>
    <div my-directive location='new_york,ny'></div>
    <input type="text" ng-model='name'/><br><br>

    <hr>
    
    <table class='product_table'>
        <thread>
            <tr>
                <th>Product name</th>
                <th>Product price</th>
            </tr>
        </thread>
        <tbody>
            <!--check if there are still products left-->
            <tr ng-repeat='product in products'>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/add">Add products</a>
</div>